.avisoUnitario{
    //border: 0.1px #241816 solid;
    //border-radius: 5%;
    // border-bottom-left-radius: 3%;
    // border-bottom-right-radius: 3%;
    // border-top-left-radius:3%;
    // border-top-right-radius:3%;
    box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);
    //max-height: 95%;
    //background-color: #d3d3d3;
    
    
}

.tituloAviso{
    //font-weight: lighter;
    color: black; 
    //font-family: Perpetua;
    text-align: center;
}

.formatoImagen
{
    width: 100%;
    //height: 11em;
    height: 250px;
    object-fit: cover;
    // border-bottom-left-radius: 5%;
    // border-bottom-right-radius: 5%;
    // border-top-left-radius:5%;
    // border-top-right-radius:5%;
    border: 2px #241816 solid;
    
}


.avisosDescripcion
{
    text-align: justify;
    font-size: small; 
    color: black; 
    text-align: justify; 
    text-justify: inter-word; 
    width: 90%; 
    margin-left: 4%;
}

.redEvent{
    //background-color: #ffb2ae;
    background-color: rgba(240, 20, 20, 0.300);
    
}

.greenEvent{
    //background-color: #3cb371;
    background-color: rgba(91, 240, 4, 0.250);
}

.yellowEvent{
    //background-color: #fada5e;
    background-color: rgba(230, 245, 27, 0.250);
}

.blueEvent{
    //background-color: #87cefa;
    background-color: rgba(44, 117, 212, 0.250);
}

.fontColor
{
    color:black;
}