.sinAcuerdos{
    border: 2px #241816 solid;
    //border-radius: 5%;
    border-bottom-left-radius: 9%;
    border-bottom-right-radius: 9%;
    border-top-left-radius:9%;
    border-top-right-radius:9%;
    box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);
    height: 50%;
    width: 90%;
    margin-left: 5%;
    background-color: #AFEEEE;
}

.sinAcuerdosTitulo{
    
    color: black; 
    font-family: Perpetua;
    text-align: center;
    font-family: monospace;
    //font-size: medium;
}

.sinAcuerdosImagen{
    margin-left:30%;
    width: 40%;
    height: 50%;
    max-height: 70%;
}

.titulo{
    
    margin-top: -3%;
    //background-color: yellow;
    font-family: monospace;
}

.cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}
