ion-item{
    
    --background: #f4f5f8;
}

.titulo
{
    margin-top: -3%;
    //background-color: yellow;
    font-family: monospace;
}

.caracteres{
    font-size:small;
    margin-left: 55%;
    background-color: #f4f5f8;
    color: grey;

}

.cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}

.color-fondo{

    //--background: #f4f5f8;
    background-color: #f4f5f8;
}

.formatoImagen
{
    width: 100%;
    height: 250px;
    //border: 2px #241816 solid;  
}