ion-tab-bar {
    --background: transparent;
    background-image: linear-gradient(135deg, #110A3B 0%, #211d6b 50%, #2f32a0 100%);
}

ion-icon{
    color: #d7d8da;
}

 // background-image: linear-gradient(to right bottom, #110a3b, #191452, #211d6b, #282785, #2f32a0);