.solicitud{
    background-color: rgb(245, 87, 87);
    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 50%;
    // border-top-left-radius:50%;
    // border-top-right-radius:50%;
    // width: 11%;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    color: white;
    text-align: center;
    //margin-top: 20vw;
    border: 1.8px #241816 solid;
}