.avisosTitlte
{
    margin-top: -1vw;
    //background-color: yellow;
    font-family: monospace;
    font-size: x-large;
}
.fontColor
{
    color:black;
}

.avisoUnitario{
    //border: 0.1px #241816 solid;
    //border-radius: 5%;
    // border-bottom-left-radius: 3%;
    // border-bottom-right-radius: 3%;
    // border-top-left-radius:3%;
    // border-top-right-radius:3%;
    box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);
    //max-height: 95%;
    background-color: #AFEEEE;
    
    
}

.cambiarComunidad{
    //margin-left: 51vw;
    //width: 30%;
    //align-items: flex-end;
    //margin-top: -9vw;
    float:right
}

.cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}


