.titulo{
    
  margin-top: -3%;
  //background-color: yellow;
  font-family: monospace;
}

.acuerdo{

  margin-top: 10px;
  box-shadow: 0 0.9 2em rgba(30, 30, 31, 0.932);
  background-color: #f4f5f8;
}

.cabecera{
  --background: linear-gradient(135deg, #110A3B, #2f32a0);
}
