.avisosTitlte
{
    margin-top: -1vw;
    //background-color: yellow;
    font-family: monospace;
    font-size: x-large;
}

.caracteres{
    font-size:small;
    margin-left: 55%;
   
    color: grey;
}

.cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}
